<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Navbar</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>

	 	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul class="navbar-nav mr-auto">
	      		<li class="nav-item active">
	        		<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="#">Link</a>
	      		</li>
	      		<li class="nav-item dropdown">
	        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          		Dropdown
	        		</a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          	<a class="dropdown-item" href="#">Action</a>
			          	<a class="dropdown-item" href="#">Another action</a>
			          	<div class="dropdown-divider"></div>
			          	<a class="dropdown-item" href="#">Something else here</a>
	        		</div>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	      		</li>
	    	</ul>
	    <form class="form-inline my-2 my-lg-0">
	      	<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  	</div>
	</nav>

<!-- 	<form action="/purchase" method="POST">
	<script
	    src="https://checkout.razorpay.com/v1/checkout.js"
	    data-key="rzp_test_6gkeHKqbrpJ1OY"
	    data-amount="500"
	    dat4a-currency="INR"
	    data-order_id="<%= orderId%>"
	    data-buttontext="Pay with Razorpay"
	    data-name="Acme Corp"
	    data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
	    data-image="https://example.com/your_logo.jpg"
	    data-prefill.name="Gaurav Kumar"
	    data-prefill.email="gaurav.kumar@example.com"
	    data-prefill.contact="9999999999"
	    data-theme.color="#F37254"
	></script>
	<input type="hidden" custom="Hidden Element" name="hidden">
	</form> -->
		<form method="POST" action="https://api.razorpay.com/v1/checkout/embedded">
		<input type="hidden" name="key_id" value="rzp_test_6gkeHKqbrpJ1OY">
		<input type="hidden" name="order_id" value="<%= orderId %>">
		<input type="hidden" name="name" value="Acme Corp">
		<input type="hidden" name="description" value="A Wild Sheep Chase">
		<input type="hidden" name="image" value="https://cdn.razorpay.com/logos/BUVwvgaqVByGp2_large.png">
		<input type="hidden" name="prefill[name]" value="Gaurav Kumar">
		<input type="hidden" name="prefill[contact]" value="9123456780">
		<input type="hidden" name="prefill[email]" value="gaurav.kumar@example.com">
		<input type="hidden" name="notes[shipping address]" value="L-16, The Business Centre, 61 Wellfield Road, New Delhi - 110001">
		<input type="hidden" name="callback_url" value="https://webhook.site/11a02ea5-a3a0-4b1d-a63a-7d98f2543c4b">
		<input type="hidden" name="cancel_url" value="https://webhook.site/11a02ea5-a3a0-4b1d-a63a-7d98f2543c4b">
		<button>Submit</button>
	</form>

</body>
</html>